<!doctype html>
<html>
  <head>
    <title>Pets In Hats</title>
  </head>
  <body>
    <h1> Get ready to see an animal wearing a hat!</h1>
    <form nethod="post"
    <h4> Choose an animal:</h4>
    <br>
    <input type ="radio" name="user_animal" value="dog">Dog<br>
    <input type="radio" name="user_animal" value="cat">Cat<br>
    <h4>Choose a hat:</h4>
    <br>
    <input type ="radio" name="user_hat" value="party-hat"> Party Hat<br>
    <input type ="radio" name="user_hat" value="top hat"> Top Hat<br>
    <input type ="radio" name="user_hat" value="bucket hat"> Bucket Hat<br>
    <input type ="submit" value="Show me the animals in cute hats!">
  </form>
  </body>
</html>
    
      #FORM METHOD GOES HERE
      #We need an option for the pets (dog, cat)
      #we need another option for type of hat (party-hat, top hat, bucket hat)

</html>